.container {
  max-width: 1920px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: pink;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/cat/pexels-francesco-ungaro-96938_4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/cat/pexels-anel-rossouw-2558605_2.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.birthday-cake {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/background/pexels-marina-utrabo-1729808_2.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.birthday-cake-middle {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/background/pexels-marina-utrabo-1729808_3.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.birthday-cake-bottom {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/background/pexels-marina-utrabo-1729808_4.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.flower {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: url("assets/img/background/pexels-valeria-boltneva-617967.jpg");
  background-size: cover;
}

.img-w10 {
  width: 10%;
}

.pink {
  display: inline-block;
  color: #ffe3ff;
  /* 文字の色 */
  font-size: 18pt;
  /* 文字のサイズ */
  letter-spacing: 2px;
  /* 文字間 */
  text-shadow: 2px 2px 1px rgba(255, 102, 255, 0.78), -2px 2px 1px rgba(255, 102, 255, 0.78), 2px -2px 1px rgba(255, 102, 255, 0.78), -2px -2px 1px rgba(255, 102, 255, 0.78), 2px 0px 1px rgba(255, 102, 255, 0.78), 0px 2px 1px rgba(255, 102, 255, 0.78), -2px 0px 1px rgba(255, 102, 255, 0.78), 0px -2px 1px rgba(255, 102, 255, 0.78);
  /* 文字の影 */
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}