.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: url("assets/img/pexels-valeria-boltneva-617967.jpg");
    background-size: cover;
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flower {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: url("assets/img/pexels-karolina-grabowska-4041229.jpg");
    background-size: cover;
}

.pink {
    display        : inline-block;
    color          : #ff99cc;            /* 文字の色 */
    font-size      : 36pt;               /* 文字のサイズ */
    letter-spacing : 6px;                /* 文字間 */
    text-shadow    : 
        3px  3px 2px #b300b3,
        -3px  3px 2px #b300b3,
        3px -3px 2px #b300b3,
        -3px -3px 2px #b300b3,
        3px  0px 2px #b300b3,
        0px  3px 2px #b300b3,
        -3px  0px 2px #b300b3,
        0px -3px 2px #b300b3;        /* 文字の影 */
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
